; ddraw.cfg
; config file for ddraw.dll

; PreserveAspectRatio = 0 (no) or 1 (yes)
; When set to 0, the display will be stretched.
; When set to 1, the aspect ratio will be preserved.
PreserveAspectRatio = 1

; EnableMultisamplingAntialiasing = 0 (no) or 1 (yes)
; When set to 0, single-sampling will be used.
; When set to 1, multi-sampling (MSAA) will be used if it is supported.
EnableMultisamplingAntialiasing = 0

; EnableAnisotropicFiltering = 0 (no) or 1 (yes)
; When set to 0, linear filtering will be used.
; When set to 1, anisotropic filtering will be used.
EnableAnisotropicFiltering = 1

; EnableVSync = 0 (vsync off) or 1 (vsync on)
EnableVSync = 1

; FillWireframe = 0 (solid) or 1 (wireframe)
; When set to 0, fill mode wil be solid.
; When set to 1, fill mode will be wireframe.
FillWireframe = 0

; Concourse3DScale = float value
; This set the scale of the ships in briefing and tech library.
Concourse3DScale = 0.6

; ProcessAffinityCore = int value
; When set to 0, the process affinity is not changed
; The value indicates the core you want the process to run on
ProcessAffinityCore = 2

; JoystickEmul = -1 (default, auto-detect) or 1 (force on) or 0 (force off)
; EXPERIMENTAL - behaviour is far from optimal.
; Emulates a joystick using keyboard and mouse.
; For auto-detect only enabled if no joystick is detected.
; It is not possible to use a joystick that is plugged in after start.
; Force off to get back the dialog boxes asking you to plug in the joystick.
JoystickEmul = -1

; MouseSensitivity = 0.5 (default)
; How sensitive the mouse is if joystick emulation is enabled.
; Maximum turn speed might only be possible for values >= 1.1
MouseSensitivity = 0.5

; KbdSensitivity = 1.0 (default)
; How sensitive the keyboard is if joystick emulation is enabled.
; Maximum turn speed for 1.0, values above are not useful.
KbdSensitivity = 1.0
