<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DllExport" version="1.7.4" targetFramework="net40" />
  <package id="JeremyAnsel.BcnSharp" version="1.0.3" targetFramework="net48" />
  <package id="JeremyAnsel.ColorQuant" version="3.0.70" targetFramework="net48" />
  <package id="JeremyAnsel.Xwa.Dat" version="3.0.19" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
</packages>